@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/PoppinsMedium.ttf");
  font-family: "Poppins";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/NunitoBold.ttf");
  font-family: "Nunito";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/NunitoExtraBold.ttf");
  font-family: "Nunito";
  font-weight: 800;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/NunitoItalicRegular.ttf");
  font-family: "Nunito";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/NunitoRegular.ttf");
  font-family: "Nunito";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/NunitoSemiBold.ttf");
  font-family: "Nunito";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/NotoSans-Regular.ttf");
  font-family: "Noto Sans";
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/Roboto-Regular.ttf");
  font-family: "Roboto";
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/NotoSans-Regular.ttf");
  font-family: "Noto Sans";
  font-weight: 400;
}
