body {
  margin: 0;
  padding: 0;
  font-family: Nunito;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  margin: 0;
  margin-inline: unset !important;
  padding: 0;
  list-style: none;
}

.sliderstreamlin .alice-carousel__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  right: 0px;
  left: 0px;
  margin: auto;
}

input {
  background-color: transparent;
  width: 100%;
}

input:focus {
  outline: none;
}

.alice-carousel__dots-item {
  cursor: pointer;
}
